<!DOCTYPE html>
<html>
    <head>
        <title>Pcap graphs </title>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    </head>
<body>
{% if something %}
<p>PCAP details from Local Drive</p>
<p>Here is your selecetd file {{sum}}</p>


<table id="table1" style="width: 100%;  text-align: left;">
  <tr>
      <th>Measure</th>
      <th>Value
      </th>
  </tr>
  
<tr>
<td>Mean value</td>
  <td>{{mean}}</td>
</tr>
<tr>
<td>Standard Deviation value </td>
<td>{{ std }}</td>
</tr>
<tr>
  <td>First quartile value </td>
  <td>{{ qur1 }}</td>
  </tr>
  <tr>
    <td>Median value</td>
    <td>{{ median }}</td>
    </tr>
    <tr>
      <td>Third quartile value</td>
      <td>{{ qur2 }}</td>
      </tr>



</table>


<p><b>Pcap file from local storage:</b></p>
<table id="table" style="width: 100%;  text-align: left;">
  <tr>
    <th>Model</th>
    <th>Prediction</th>
    <th>Probability</th>
  </tr>
  <tr>
      <td rowspan="3">BPS model </td>
      <td>{{ predicted_Name_BPS_FPN }}%</td>
      <td>{{ predicted_Name_BPS_FPP }}%</td>
  </tr>
  <tr>

    <td>{{ predicted_Name_BPS_SPN }}%</td>
    <td>{{ predicted_Name_BPS_SPP }}%</td>
</tr>
<tr>

  <td>{{ predicted_Name_BPS_TPN }}%</td>
  <td>{{ predicted_Name_BPS_TPP }}%</td>
</tr>

<tr>
<td rowspan="3">Differential fingerprinting  BPS </td>
<td>{{ predicted_Name_DF_FPN }}%</td>
<td>{{ predicted_Name_DF_FPP }}%</td>
</tr>
<tr>

<td>{{ predicted_Name_DF_SPN }}%</td>
<td>{{ predicted_Name_DF_SPP }}%</td>
</tr>
<tr>

<td>{{ predicted_Name_DF_TPN }}%</td>
<td>{{ predicted_Name_DF_TPP }}%</td>
</tr>

<tr>
<td rowspan="3">Differential fingerprinting  PAT</td>
<td>{{ predicted_Name_PAT_FPN }}%</td>
<td>{{ predicted_Name_PAT_FPP }}%</td>
</tr>
<tr>

<td>{{ predicted_Name_PAT_SPN }}%</td>
<td>{{ predicted_Name_PAT_SPP }}%</td>
</tr>
<tr>

<td>{{ predicted_Name_PAT_TPN }}%</td>
<td>{{ predicted_Name_PAT_TPP }}%</td>
</tr>


 
  <tr>
      <td rowspan="2">BPS - Without Classes (VPN vs NonVPN) </td>
      <td>{{ FPN_VpnVsNonvp }}%</td>
      <td>{{ FPP_VpnVsNonvp }}%</td>
  </tr>
  <tr>

    <td>{{ SPN_VpnVsNonvp }}%</td>
    <td>{{ SPP_VpnVsNonvp }}%</td>
</tr>
  <tr>
    <td>Traffic Pattern Plot </td>
    <td>{{ FP }}</td>
    <td>01.0000000000%</td>
</tr>

<tr>
  <td>Ensemble (BPS, DF, TPP) </td>
  <td>{{ ensemble }}</td>
  <td>{{ ensembleResult }} out of 3</td>
</tr>
</table>
{% endif %}
<img src = "data:image/png;base64,{{ data|safe  }}" alt = "" height="70%", width="70%">
<br>
<br>
<img src = "data:image/png;base64,{{ packetsPerSecond|safe }}" alt = "" height="70%", width="70%">
<br>
<br>
<img src = "data:image/png;base64,{{ Instantaneous }}" alt = "" height="70%", width="70%">
<br>
<br>
<img src = "data:image/png;base64,{{ shortOnOffCycle }}" alt = "" height="70%", width="70%">
<br>
<br>
<img src = "data:image/png;base64,{{ normalized }}" alt = "" height="70%", width="70%">
<br>
<br>
<img src = "data:image/png;base64,{{ bytesPerPeak | safe }}" alt = "" height="70%", width="70%">
<br>
<br>
<img src = "data:image/png;base64,{{ flowPicImg | safe }}" alt = "" height="70%", width="70%">
<br>
<a href="{% url 'webpage1' %}">Click here to back to main page.</a>
</body>
</html>